<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <meta name="theme-color" content="#999999">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="shortcut icon" href="https://www.buenosaires.gob.ar/sites/gcaba/files/favicon.png" type="image/png">
             
        <title>APRA | Nuevo Código Urbanístico</title>
                                                                  
        <!-- Bootstrap CSS y Bastrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        <link type="text/css" rel="stylesheet" href="css/bastrap.css">
       
        <!-- Acá va tu hoja de estilos -->
        
        <link type="text/css" rel="stylesheet" href="css/buenosaires.css">
        <link type="text/css" rel="stylesheet" href="css/global.css">
        <!-- <link type="text/css" rel="stylesheet" href="css/fixes-v3.css"> -->
    
        <!-- Archivo JS para convertir a JSon un excel -->
        
    
</head>
<body>
    

<div ng-app="myApp" ng-controller="myCtrl">
    <div class="container apra">
        <div class="row  mt-3">
            <div class="col-md-3 form-group has-button">
                <label class="control-label" for="inputSuccess2">Tipo de Busqueda</label>
                <select ng-model="tipoCUR" id="inputSuccess2" class="form-control chosen-select" data-placeholder="Elegí una opción">
                    <option ng-repeat="x in tipoCURoptions" value="{{x.value}}">{{x.name}}</option>
                </select>
            </div>
            <div class="col-md-9 form-group has-button">
                <label class="control-label" for="buscar">Ingresa</label>
                <!-- <input ng-model="buscarInput" type="text" class="form-control" id="buscar" ng-change="buscarFunc()" disabled="disabled" -->
                <input ng-model="buscarInput" type="text" class="form-control" id="buscar" disabled="disabled"
                    placeholder="Código o Descripcion" value="">
                <button class="btn" ng-click="buscarFunc()">
                    <span class="lupa glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>

        <div class="thumbnail" ng-show="curNuevoUnico">
            <div class="caption">
                <h3>{{curNuevo["cur-nuevo"]}} / {{curNuevo["rubro-viejo"]}}</h3>
            </div>
        </div>

        <div class="mt-4 table-responsive" ng-show="hayResultados">
        <!-- <div class="mt-4 table-responsive" ng-class="{ 'visible': hayResultados }"> -->
            <table class="table table-striped">
                <thead>
                    <tr class="bg-primary">
                        <th class="text-center" scope="col"><strong>Código</strong></th>
                        <th class="text-center" scope="col"><strong>Rubro</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in listResult ">
                        <th class="text-center" scope="row"><strong>{{x["cur-historico"]}}</strong></th>
                        <td>{{x["rubro-historico"]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function ($scope, $http) {
    $scope.hayResultados = false;
    $scope.listResult = [];
    $scope.tipoCURoptions = [];
    $scope.curNuevo = {};
    tipoNuevo = {};
    tipoNuevo.name = "Por Nuevo CUR";
    tipoNuevo.value = "cur-nuevo";
    tipoHistorico = {};
    tipoHistorico.name = "Por CUR histórico";
    tipoHistorico.value = "rubro-historico";
    $scope.tipoCURoptions = [tipoNuevo, tipoHistorico];
    $scope.tipoCUR = tipoHistorico.value;

    // const apiURL = "https://bypasscors.herokuapp.com/api/?url="+encodeURIComponent('http://cdn2.buenosaires.gob.ar/desarrollo/buenos-aires/apra/codigo-urbanistico.json');
    const apiURL = 'apra.json';

    $http.get(apiURL)
      .then(function (response) {
        document.getElementById('buscar').removeAttribute('disabled');

        $scope.list = response.data;
        angular.forEach($scope.list, function (value, key) {
        //   console.log(value["rubro-historico"])
          value.rubrohistorico = value["rubro-historico"]
        });
      }).catch(e => { console.log(e); });

    $scope.buscarFunc = function () {
      console.log("buscar ");
      $scope.listResult = [];

      $scope.curNuevoUnico = true;
      let curNuevoAnterior = "";
      let curNuevoContador = 0;
      let buscarInput = $scope.buscarInput.toLowerCase();

      angular.forEach($scope.list, function (value, key) {
        debugger;
        let resultadoValido = false;
        if ($scope.tipoCUR === tipoHistorico.value) {
          if (value.rubrohistorico.toLowerCase().includes(buscarInput) ||
            value["cur-historico"].toLowerCase().includes(buscarInput)) {
                $scope.listResult.push(value);
                resultadoValido = true;

            }
        } else {
          if (value["cur-nuevo"].toLowerCase().includes(buscarInput) ||
          value["rubro-viejo"].toLowerCase().includes(buscarInput)) {
                $scope.listResult.push(value);
                resultadoValido = true;
            }
        }

        if(resultadoValido) {
            if(curNuevoContador > 0 && curNuevoAnterior !== value["cur-nuevo"]){ $scope.curNuevoUnico = false; }
            curNuevoAnterior = value["cur-nuevo"];
            curNuevoContador++;
        }
      });

      // debugger;

      if ($scope.listResult.length > 0) {
        $scope.hayResultados = true;
        $scope.curNuevo = $scope.listResult[0];
        console.log($scope.listResult)
      } else {
        $scope.hayResultados = false;
        $scope.curNuevoUnico = false;
      }

    };

  });
</script>

<!-- <style>
  .container.apra{
    transition: all .2s ease-in-out;
  }
</style> -->